.Categorie {
  display: flex;
  height: 100%;
  padding: 16px 8px;

  &__column {
    width: 50%;
    height: 100%;
    overflow-y: auto;
    margin: 0 auto;
    border: 1px solid #0000001a;
    background: white;

    &__box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 8px 12px;
      height: 50%;

      &__center-margin {
        margin: 0 auto;
      }

      canvas {
        margin: 0 auto;

      }
    }
  }
}

.text-center {
  text-align: center;
}

.ant-drawer-title-white {

  .ant-drawer-title, svg {
    color: #fff;
  }
}