.AdminAuth {

  &__inputgroup {

    &__name-labels {
      display: flex;
      align-items: center;
      justify-content: space-between;

      h5 {
        margin: 0 0 8px 0 !important;
      }
    }

    margin: 0 0 24px 0;
    &__datepicker,&__select, &__input, &__inputnumber {
      width: 100%;
    }

  }

  &__dialog {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }
}